obj/*
output/*
*.suo
*.user
_ReSharper*
src/Sponge2/bin/*
design/Mockups 17Nov09.pdf
del.txt
bugs.txt
src/Sponge/bin/*
src/Sponge2/Sponge2.csproj.John
src/SayMore/bin/*
src/SayMore/Sponge2.csproj.John
src/Installer/bin/Release/SayMoreInstaller.wixpdb
AttemptAtRemovingGenericRepositories/*
VS2008Backup/*
SayMore Design Pics/*
MPlayer for Windows/*
_UpgradeReport_Files/*
Misc. Art Work/*
things to test.txt
src/SayMore/Model/Files/FileType.cs.orig
REAP-RAMP Notes.docx
OtherChartLayoutIdeas.xlsx
mplayerWrapper-v0.2.zip
RAMP, REAP, METS/METS Metadata Template.lnk
SayMore.sln.cache
RAMP, REAP, METS/RAMP.lnk
RAMP, REAP, METS/METSUCCSC.ppt
Thailand Report and Estimated Timeline for 2010-2011 work.pdf
build/TestInstallerBuild - Copy.bat
UpgradeLog.XML
artwork/SayMoreText.svg.orig
RAMP, REAP, METS/cat_mets.ppt
UpgradeLog2.XML
Interface Design Strategies for Computer-Assisted Speech Transcription.pdf
src/SayMore/Model/Files/ComponentFile.cs.orig
src/SayMore/Model/Files/DataGathering/BackgroundFileProcessor.cs.orig
src/SayMore/UI/Overview/Statistics/StatisticsViewModel.cs.orig
DistFiles/SayMore.chm
SayMore.chm
lib/dotnet/Palaso.*
lib/dotnet/PalasoUIWindowsForms.*
src/SayMore/obj/*
src/SayMoreTests/obj/*
src/Sponge/obj/*
src/SpongeTests/obj/*

HG Setup.eml
src/SayMore/SayMore.csproj.orig
RAMP Stuff/*
lib/dotnet/SilTools.pdb
RAMP Fields.docx
src/SayMore/Program.cs.orig
