body
{
	margin-top: 0;
	font-family: Arial, sans-serif;
	font-size: 12px;
	width: 335px;
}
h1
{
	margin: 16px 0 8px;
	font-size: 14px;
}
p
{
	text-align: left;
	margin: 0 0 6px;
	line-height: 17px;
}
a, a:hover, a:active, a:visited 
{
	color: rgb(0, 65, 130);
	font-weight: 700;
}
.single p 
{
	margin-bottom: 1px;
}