<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
	<DirectoryRef Id='ProgramDir'>

		<Component Id="AppSettings.xml" Guid="">
		  <File Id="AppSettings.xml" Name="AppSettings.xml" KeyPath="yes" Source="..\..\DistFiles\AppSettings.xml" />
		</Component>
		<Component Id="DiscourseTypes.xml" Guid="">
		  <File Id="DiscourseTypes.xml" Name="DiscourseTypes.xml" KeyPath="yes" Source="..\..\DistFiles\DiscourseTypes.xml" />
		</Component>
		<Component Id="SessionFileInfoTemplates.xml" Guid="">
		  <File Id="SessionFileInfoTemplates.xml" Name="SessionFileInfoTemplates.xml" KeyPath="yes" Source="..\..\DistFiles\SessionFileInfoTemplates.xml" />
		</Component>

	</DirectoryRef>


	<ComponentGroup Id="DistFiles">
	  <ComponentRef Id="AppSettings.xml" />
	  <ComponentRef Id="DiscourseTypes.xml" />
	  <ComponentRef Id="SessionFileInfoTemplates.xml" />

	</ComponentGroup>


  </Fragment>
</Wix>
