<?xml version="1.0" encoding="UTF-8"?>
<!-- These variables define the Windows Installer product version, product code and upgrade code. They   -->
<!-- will be used later on in this file.  this value should be B U I  LD_SCRIPT_MUST_REPLACE_AT_RUNTIME (in quotes) -->
<?define Property_ProductVersion = "BUILD_SCRIPT_MUST_REPLACE_AT_RUNTIME" ?>

<!--Don't even think of EVER changing this, despite the counter-intuitive name. What it is: "a shared identifier that represents multiple versions of an application" -->
<?define Property_UpgradeCode = "{CBCDEE93-B8EF-445e-98A9-B8CAF9502F0D}" ?>

<?define OutputDir = "..\..\output\x64\$(var.Configuration)\net48\" ?>
<?define NativeAssetsDir = "$(var.OutputDir)lib\win-x64\" ?>

<!-- good intro to the component vs. file thing, and why each file here is a separate component:
http://blogs.msdn.com/robmen/archive/2003/10/04/56479.aspx -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	
  <!-- Id = "*" means auto-generate a new guid each time. This is "a unique identifier for the particular product release" -->
  <Product Id="*" Name="SayMore $(var.Property_ProductVersion)" Language="1033"
			 Version="$(var.Property_ProductVersion)" Manufacturer="SIL"
			 UpgradeCode="$(var.Property_UpgradeCode)">

    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />

	  <MajorUpgrade   Schedule="afterInstallInitialize"
	  DowngradeErrorMessage="A later version of SayMore is already installed. If you really want to downgrade, first uninstall SayMore, then do this install again."/>

	<Upgrade Id="$(var.Property_UpgradeCode)" >
	  <UpgradeVersion Minimum="$(var.Property_ProductVersion)" OnlyDetect="yes" Property="NEWVERSIONDETECTED" />
	  <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.Property_ProductVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
	</Upgrade >

	<!-- show the license page -->
	<UIRef Id="WixUI_Minimal"/>
	<!-- Top banner / 493 × 58 -->
	<WixVariable Id='WixUIBannerBmp' Value='installerBanner.jpg' />
	<!-- Background bitmap used on the welcome and completion dialogs / 493 × 312 -->
	<WixVariable Id='WixUIDialogBmp' Value='installerBackground.jpg' />
	<WixVariable Id="WixUILicenseRtf" Value="..\..\distfiles\License.rtf" />

	<!--
	"from the list: Don't use Advertise="yes" Advertised shortcuts are designed to allow
users to install just the shortcut for your app, then demand-install the
rest of the app the first time the icon is run.  If this is not behavior you
are trying to support, you're better off using non-advertised shortcuts. "-->

	<PropertyRef Id="NETFRAMEWORK40CLIENT" />
	<PropertyRef Id="NETFRAMEWORK40FULL" />
	<Condition Message="Before SayMore can install, you need to install Microsoft's free .NET Framework 4.0 Client Profile. A full discussion of SayMore's requirements can be found at software.sil.org/saymore/download/.">
	  <![CDATA[Installed OR (NETFRAMEWORK40CLIENT OR NETFRAMEWORK40FULL)]]>
	</Condition>

	<Directory Id="TARGETDIR" Name="SourceDir">

	  <Directory Id="CommonAppDataFolder">
		<Directory Id="SILCommonAppData" Name="SIL">
		  <!--<Directory Id="SayMoreCommonAppData" Name="SayMore">
			<Directory Id="SampleDataDir" Name="Samples">
			</Directory>
		  </Directory>-->

		  <Directory Id="SILArchivingAppData" Name="Archiving">
			<Directory Id="SILArchivingIMDIAppData" Name="IMDI">
			  <Component Id="IMDILists" Guid="{68906F32-3D8B-4E98-8527-7B2117CE5D89}">
				<File Id="ActorFamilySocialRole.xml" Name="Actor-FamilySocialRole.xml" KeyPath="yes" Source=".\imdi\Actor-FamilySocialRole.xml" />
				<File Id="ActorRole.xml" Name="Actor-Role.xml" Source=".\imdi\Actor-Role.xml" />
				<File Id="ActorSex.xml" Name="Actor-Sex.xml" Source=".\imdi\Actor-Sex.xml" />
				<File Id="Boolean.xml" Name="Boolean.xml" Source=".\imdi\Boolean.xml" />
				<File Id="ContentChannel.xml" Name="Content-Channel.xml" Source=".\imdi\Content-Channel.xml" />
				<File Id="ContentEventStructure.xml" Name="Content-EventStructure.xml" Source=".\imdi\Content-EventStructure.xml" />
				<File Id="ContentGenre.xml" Name="Content-Genre.xml" Source=".\imdi\Content-Genre.xml" />
				<File Id="ContentInteractivity" Name="Content-Interactivity.xml" Source=".\imdi\Content-Interactivity.xml" />
				<File Id="ContentInvolvement.xml" Name="Content-Involvement.xml" Source=".\imdi\Content-Involvement.xml" />
				<File Id="ContentModalities.xml" Name="Content-Modalities.xml" Source=".\imdi\Content-Modalities.xml" />
				<File Id="ContentPlanningType.xml" Name="Content-PlanningType.xml" Source=".\imdi\Content-PlanningType.xml" />
				<File Id="ContentSocialContext.xml" Name="Content-SocialContext.xml" Source=".\imdi\Content-SocialContext.xml" />
				<File Id="ContentSubGenre.xml" Name="Content-SubGenre.xml" Source=".\imdi\Content-SubGenre.xml" />
				<File Id="ContentSubGenreDiscourse.xml" Name="Content-SubGenre-Discourse.xml" Source=".\imdi\Content-SubGenre-Discourse.xml" />
				<File Id="ContentSubGenreDrama.xml" Name="Content-SubGenre-Drama.xml" Source=".\imdi\Content-SubGenre-Drama.xml" />
				<File Id="ContentSubGenreLiterature.xml" Name="Content-SubGenre-Literature.xml" Source=".\imdi\Content-SubGenre-Literature.xml" />
				<File Id="ContentSubGenrePoetry.xml" Name="Content-SubGenre-Poetry.xml" Source=".\imdi\Content-SubGenre-Poetry.xml" />
				<File Id="ContentSubGenreSinging.xml" Name="Content-SubGenre-Singing.xml" Source=".\imdi\Content-SubGenre-Singing.xml" />
				<File Id="ContentSubGenreStimuli.xml" Name="Content-SubGenre-Stimuli.xml" Source=".\imdi\Content-SubGenre-Stimuli.xml" />
				<File Id="ContentSubject.xml" Name="Content-Subject.xml" Source=".\imdi\Content-Subject.xml" />
				<File Id="ContentTask.xml" Name="Content-Task.xml" Source=".\imdi\Content-Task.xml" />
				<File Id="Continents.xml" Name="Continents.xml" Source=".\imdi\Continents.xml" />
				<File Id="Countries.xml" Name="Countries.xml" Source=".\imdi\Countries.xml" />
				<File Id="MediaFileFormat.xml" Name="MediaFile-Format.xml" Source=".\imdi\MediaFile-Format.xml" />
				<File Id="MediaFileType.xml" Name="MediaFile-Type.xml" Source=".\imdi\MediaFile-Type.xml" />
				<File Id="MPILanguages.xml" Name="MPI-Languages.xml" Source=".\imdi\MPI-Languages.xml" />
				<File Id="Quality.xml" Name="Quality.xml" Source=".\imdi\Quality.xml" />
				<File Id="ValidationMethodology.xml" Name="Validation-Methodology.xml" Source=".\imdi\Validation-Methodology.xml" />
				<File Id="ValidationType.xml" Name="Validation-Type.xml" Source=".\imdi\Validation-Type.xml" />
				<File Id="WrittenResourceDerivation.xml" Name="WrittenResource-Derivation.xml" Source=".\imdi\WrittenResource-Derivation.xml" />
				<File Id="WrittenResourceFormat.xml" Name="WrittenResource-Format.xml" Source=".\imdi\WrittenResource-Format.xml" />
				<File Id="WrittenResourceSubType.xml" Name="WrittenResource-SubType.xml" Source=".\imdi\WrittenResource-SubType.xml" />
				<File Id="WrittenResourceSubTypeAnnotation.xml" Name="WrittenResource-SubType-Annotation.xml" Source=".\imdi\WrittenResource-SubType-Annotation.xml" />
				<File Id="WrittenResourceSubTypeEthnography.xml" Name="WrittenResource-SubType-Ethnography.xml" Source=".\imdi\WrittenResource-SubType-Ethnography.xml" />
				<File Id="WrittenResourceSubTypeLexicalAnalysis.xml" Name="WrittenResource-SubType-LexicalAnalysis.xml" Source=".\imdi\WrittenResource-SubType-LexicalAnalysis.xml" />
				<File Id="WrittenResourceSubTypeOLACLS.xml" Name="WrittenResource-SubType-OLAC-LS.xml" Source=".\imdi\WrittenResource-SubType-OLAC-LS.xml" />
				<File Id="WrittenResourceSubTypePrimaryText.xml" Name="WrittenResource-SubType-PrimaryText.xml" Source=".\imdi\WrittenResource-SubType-PrimaryText.xml" />
				<File Id="WrittenResourceType.xml" Name="WrittenResource-Type.xml" Source=".\imdi\WrittenResource-Type.xml" />
			  </Component>
			</Directory>
		  </Directory>
		</Directory>
	  </Directory>

	  <Directory Id='ProgramMenuFolder' Name='Programs'>
		<Directory Id='SayMoreShortcutDir' Name='SayMore'>
		  <Component Id='removeShortcutDir' Guid="{88000306-EB15-4458-8264-97C1F888AD1F}">
			<RemoveFolder Id="shortcutDirRemover" On="uninstall"/>
			<RegistryKey Root="HKCU" Key="SOFTWARE\SayMore\Components\SayMoreShortcutDir">
			  <RegistryValue Type="string" Value=""  Action="write" KeyPath="yes"/>
			</RegistryKey>
		  </Component>

		</Directory>
	  </Directory>
	  <Directory Id="ProgramFiles64Folder" Name="PFiles">

		<Directory Id="ProgramDir" Name="SayMore">

			<Component Id="SayMore.exe" Guid="{4573BFE5-86CE-4434-8E63-A7C068981703}" Win64="yes">
				<File Id="SayMore.exe" Name="SayMore.exe"  Source="$(var.OutputDir)SayMore.exe" KeyPath="yes" />
				<!--- todo: icons for SayMore files -->

				<!--- connect file types to icons and program to launch -->

				<!--- todo:
						  any connections between file types and SayMore
						<RemoveRegistryKey Action='removeOnUninstall' Root='HKCR' Key='.lift'/>
						<RemoveRegistryKey Action='removeOnUninstall' Root='HKCR' Key='SayMore.LIFTFile'/>
				-->

				<!-- another way:                 <Registry Id='LuaReg8' Root='HKCR' Key='VisualStudio.luaproj.8.0\Shell\Open\Command' Action='write'
						 Type='string' Value='"[ENVPATH_2005]" "%1"'/> -->

				<Shortcut Id="startMenuShortcut"
						  Directory="SayMoreShortcutDir"
						  Name="SayMore"
						  WorkingDirectory="ProgramDir"
						  Icon="SayMore.exe"
						  Advertise="yes" />

				<ProgId Id="SayMore.sprjfile" Description="SayMore project file">
				  <Extension Id="sprj" ContentType="application/sprj">
					<Verb Id="open" Command="Open" TargetFile="SayMore.exe" Argument="&quot;%1&quot;" />
				  </Extension>
				</ProgId>
			</Component>

			<Component Id="SayMore.exe.config" Guid="{DC272510-7201-4B99-BE4B-D60E1E9828EB}" Win64="yes">
				<File Id="SayMore.exe.config" Name="SayMore.exe.config" KeyPath="no" Source="$(var.OutputDir)SayMore.exe.config"/>
			</Component>

			<Component Id="SayMore.pdb" Guid="{91619951-8B14-49CA-B7D1-2A45E634FB96}" Win64="yes">
				<File Id="SayMore.pdb" Name="SayMore.pdb" KeyPath="yes" Source="$(var.OutputDir)SayMore.pdb"/>
			</Component>

			<Component Id="Autofac.dll" Guid="{C9F96C5C-9BE7-4AE4-8FBF-589CB049CE50}" Win64="yes">
				<File Id="Autofac.dll" Name="Autofac.dll" KeyPath="yes" Source="$(var.OutputDir)Autofac.dll"/>
			</Component>

			<Component Id="Coroutine.NET.dll" Guid="{C371E3BC-EFA4-42A1-8356-B010A09DC67B}" Win64="yes">
				<File Id="Coroutine.NET.dll" Name="Coroutine.NET.dll" KeyPath="yes" Source="$(var.OutputDir)Coroutine.NET.dll"/>
			</Component>

			<Component Id="DesktopAnalytics.dll" Guid="{A13B3D57-F3A7-4FE4-8050-DD0A25566DC8}" Win64="yes">
				<File Id="DesktopAnalytics.dll" Name="DesktopAnalytics.dll" KeyPath="yes" Source="$(var.OutputDir)DesktopAnalytics.dll"/>
			</Component>

			<Component Id="DialogAdapters.dll" Guid="{A0A2BD9F-7E0E-41DC-907E-DDBA3EA77EA8}" Win64="yes">
				<File Id="DialogAdapters.dll" Name="DialogAdapters.dll" KeyPath="yes" Source="$(var.OutputDir)DialogAdapters.dll"/>
			</Component>

			<Component Id="Enchant.Net.dll" Guid="{106F682B-E6D9-4DCB-B813-534EA518DB75}" Win64="yes">
				<File Id="Enchant.Net.dll" Name="Enchant.Net.dll" KeyPath="yes" Source="$(var.OutputDir)Enchant.Net.dll"/>
			</Component>

			<Component Id="ibusdotnet.dll" Guid="{02920983-F8C9-4F9A-A3AC-A387714F9A80}" Win64="yes">
				<File Id="ibusdotnet.dll" Name="ibusdotnet.dll" KeyPath="yes" Source="$(var.OutputDir)ibusdotnet.dll"/>
			</Component>

			<Component Id="icu.net.dll" Guid="{7EA888E6-930C-428D-9785-D247C1491A69}" Win64="yes">
				<File Id="icu.net.dll" Name="icu.net.dll" KeyPath="yes" Source="$(var.OutputDir)icu.net.dll"/>
			</Component>

			<Component Id="Instances.dll" Guid="{52D9D9F6-CE03-4ECB-BF7A-527BA4C729BA}" Win64="yes">
				<File Id="Instances.dll" Name="Instances.dll" KeyPath="yes" Source="$(var.OutputDir)Instances.dll"/>
			</Component>

			<Component Id="L10NSharp.dll" Guid="{850B63EC-B8CD-401C-B782-9CFB91DF5CA0}" Win64="yes">
				<File Id="L10NSharp.dll" Name="L10NSharp.dll" KeyPath="yes" Source="$(var.OutputDir)L10NSharp.dll"/>
			</Component>

			<Component Id="Markdig.Signed.dll" Guid="{50F41AE6-6BC3-4BB0-A6A9-A200154A070B}" Win64="yes">
				<File Id="Markdig.Signed.dll" Name="Markdig.Signed.dll" KeyPath="yes" Source="$(var.OutputDir)Markdig.Signed.dll"/>
			</Component>

			<Component Id="MediaInfo.dll" Guid="{FFEDAD9A-D4A0-482C-B256-3062CB4DFDDC}" Win64="yes">
				<File Id="MediaInfo.dll" Name="MediaInfo.dll" KeyPath="yes" Source="$(var.OutputDir)MediaInfo.dll"/>
			</Component>

			<Component Id="MediaInfoDLL.dll" Guid="{370327F7-D3D9-4673-87C6-6EFE3ED7DB8E}" Win64="yes">
				<File Id="MediaInfoDLL.dll" Name="MediaInfoDLL.dll" KeyPath="yes" Source="$(var.OutputDir)MediaInfoDLL.dll"/>
			</Component>

			<Component Id="NetSparkle.Net40.dll" Guid="{36870B13-214E-4F3E-8226-2FE689C7EEDE}" Win64="yes">
				<File Id="NetSparkle.Net40.dll" Name="NetSparkle.Net40.dll" KeyPath="yes" Source="$(var.OutputDir)NetSparkle.Net40.dll"/>
			</Component>

			<Component Id="Microsoft.Bcl.AsyncInterfaces.dll" Guid="{E4FA482D-9BB5-4AAB-9307-E5531888D4FF}" Win64="yes">
				<File Id="Microsoft.Bcl.AsyncInterfaces.dll" Name="Microsoft.Bcl.AsyncInterfaces.dll" KeyPath="yes" Source="$(var.OutputDir)Microsoft.Bcl.AsyncInterfaces.dll"/>
			</Component>

			<Component Id="Microsoft.Extensions.DependencyModel.dll" Guid="{77AF3426-0B4D-4AD8-83F5-386658192028}" Win64="yes">
				<File Id="Microsoft.Extensions.DependencyModel.dll" Name="Microsoft.Extensions.DependencyModel.dll" KeyPath="yes" Source="$(var.OutputDir)Microsoft.Extensions.DependencyModel.dll"/>
			</Component>

			<Component Id="NAudio.dll" Guid="{4343AE55-2084-4889-A340-48C38BAC454A}" Win64="yes">
				<File Id="NAudio.dll" Name="NAudio.dll" KeyPath="yes" Source="$(var.OutputDir)NAudio.dll"/>
			</Component>

			<Component Id="NDesk.DBus.dll" Guid="{19803D87-C927-47A0-9598-6CA7B43669C8}" Win64="yes">
				<File Id="NDesk.DBus.dll" Name="NDesk.DBus.dll" KeyPath="yes" Source="$(var.OutputDir)NDesk.DBus.dll"/>
			</Component>

			<Component Id="Newtonsoft.Json.dll" Guid="{F1CF1718-B3C4-4244-ADB5-67426D49D2C2}" Win64="yes">
				<File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.OutputDir)Newtonsoft.Json.dll"/>
			</Component>

			<Component Id="FFMpegCore.dll" Guid="{EB7FBE15-6260-469D-A971-6C2FC726A63C}" Win64="yes">
				<File Id="FFMpegCore.dll" Name="FFMpegCore.dll" KeyPath="yes" Source="$(var.OutputDir)FFMpegCore.dll"/>
			</Component>

			<Component Id="Segment.Analytics.CSharp.dll" Guid="{685342A8-FAB1-44AB-9F6E-053C612C8459}" Win64="yes">
				<File Id="Segment.Analytics.CSharp.dll" Name="Segment.Analytics.CSharp.dll" KeyPath="yes" Source="$(var.OutputDir)Segment.Analytics.CSharp.dll"/>
			</Component>

			<Component Id="Serialization.NET.dll" Guid="{16FA8CE3-5245-4B4F-8E7A-FDEA3CD99465}" Win64="yes">
				<File Id="Serialization.NET.dll" Name="Serialization.NET.dll" KeyPath="yes" Source="$(var.OutputDir)Serialization.NET.dll"/>
			</Component>

			<Component Id="Sovran.NET.dll" Guid="{2C154183-EFD5-453F-A8DE-5328C7417A8A}" Win64="yes">
				<File Id="Sovran.NET.dll" Name="Sovran.NET.dll" KeyPath="yes" Source="$(var.OutputDir)Sovran.NET.dll"/>
			</Component>

			<Component Id="SIL.Windows.Forms.Archiving.dll" Guid="{0404C1F3-8B2A-458B-AFAF-03F4BEDE351A}" Win64="yes">
				<File Id="SIL.Windows.Forms.Archiving.dll" Name="SIL.Windows.Forms.Archiving.dll" KeyPath="yes" Source="$(var.OutputDir)SIL.Windows.Forms.Archiving.dll"/>
			</Component>

			<Component Id="SIL.Archiving.dll" Guid="{43B8BF8B-53AF-4A1D-8AAD-88B131A0C675}" Win64="yes">
				<File Id="SIL.Archiving.dll" Name="SIL.Archiving.dll" KeyPath="yes" Source="$(var.OutputDir)SIL.Archiving.dll"/>
			</Component>

			<Component Id="SIL.Core.Desktop.dll" Guid="{B3BF7AD7-5EA4-45AC-A54E-17E67D7C7DD1}" Win64="yes">
				<File Id="SIL.Core.Desktop.dll" Name="SIL.Core.Desktop.dll" KeyPath="yes" Source="$(var.OutputDir)SIL.Core.Desktop.dll"/>
			</Component>

			<Component Id="SIL.Core.dll" Guid="{9EE3C4E8-1C19-45AA-A8FE-F90716BE9204}" Win64="yes">
				<File Id="SIL.Core.dll" Name="SIL.Core.dll" KeyPath="yes" Source="$(var.OutputDir)SIL.Core.dll"/>
			</Component>

			<Component Id="SIL.Media.dll" Guid="{5994444B-895A-4F66-925B-22952E8D2579}" Win64="yes">
				<File Id="SIL.Media.dll" Name="SIL.Media.dll" KeyPath="yes" Source="$(var.OutputDir)SIL.Media.dll"/>
			</Component>

			<Component Id="SIL.Windows.Forms.dll" Guid="{06A6CD14-C599-4A17-ABD4-B71091F921C0}" Win64="yes">
				<File Id="SIL.Windows.Forms.dll" Name="SIL.Windows.Forms.dll" KeyPath="yes" Source="$(var.OutputDir)SIL.Windows.Forms.dll"/>
			</Component>

			<Component Id="SIL.Windows.Forms.Keyboarding.dll" Guid="{70966C24-0C3B-44B8-BD00-F9227CAAF48E}" Win64="yes">
				<File Id="SIL.Windows.Forms.Keyboarding.dll" Name="SIL.Windows.Forms.Keyboarding.dll" KeyPath="yes" Source="$(var.OutputDir)SIL.Windows.Forms.Keyboarding.dll"/>
			</Component>

			<Component Id="SIL.Windows.Forms.WritingSystems.dll" Guid="{B6EC34B0-E50F-490B-BADE-3FC60A317FC2}" Win64="yes">
				<File Id="SIL.Windows.Forms.WritingSystems.dll" Name="SIL.Windows.Forms.WritingSystems.dll" KeyPath="yes" Source="$(var.OutputDir)SIL.Windows.Forms.WritingSystems.dll"/>
			</Component>

			<Component Id="SIL.WritingSystems.dll" Guid="{0DF0E98F-9A26-49B9-A0B4-F7A59A3F3D16}" Win64="yes">
				<File Id="SIL.WritingSystems.dll" Name="SIL.WritingSystems.dll" KeyPath="yes" Source="$(var.OutputDir)SIL.WritingSystems.dll"/>
			</Component>

			<Component Id="Spart.dll" Guid="{3C34111D-60C6-4D51-9574-5F965266389C}" Win64="yes">
				<File Id="Spart.dll" Name="Spart.dll" KeyPath="yes" Source="$(var.OutputDir)Spart.dll"/>
			</Component>

			<Component Id="System.Buffers.dll" Guid="{6D5CCBB0-D6AB-41E1-B8A4-41F0807507DA}" Win64="yes">
				<File Id="System.Buffers.dll" Name="System.Buffers.dll" KeyPath="yes" Source="$(var.OutputDir)System.Buffers.dll"/>
			</Component>

			<Component Id="System.Configuration.ConfigurationManager.dll" Guid="{E4294F0D-723D-4CFA-95A3-3538B55D8844}" Win64="yes">
				<File Id="System.Configuration.ConfigurationManager.dll" Name="System.Configuration.ConfigurationManager.dll" KeyPath="yes" Source="$(var.OutputDir)System.Configuration.ConfigurationManager.dll"/>
			</Component>

			<Component Id="System.Drawing.Common.dll" Guid="{C5DEE97E-AAE5-4D6B-99FD-84A321F5FE3E}" Win64="yes">
				<File Id="System.Drawing.Common.dll" Name="System.Drawing.Common.dll" KeyPath="yes" Source="$(var.OutputDir)System.Drawing.Common.dll"/>
			</Component>

			<Component Id="System.IO.FileSystem.AccessControl.dll" Guid="{58D70A0C-5861-4FF9-9DDB-D959D46CDC6A}" Win64="yes">
				<File Id="System.IO.FileSystem.AccessControl.dll" Name="System.IO.FileSystem.AccessControl.dll" KeyPath="yes" Source="$(var.OutputDir)System.IO.FileSystem.AccessControl.dll"/>
			</Component>

			<Component Id="System.IO.Pipelines.dll" Guid="{37C08336-88ED-4694-A75A-00F8FCA29307}" Win64="yes">
				<File Id="System.IO.Pipelines.dll" Name="System.IO.Pipelines.dll" KeyPath="yes" Source="$(var.OutputDir)System.IO.Pipelines.dll"/>
			</Component>

			<Component Id="System.Memory.dll" Guid="{34722348-01B7-4EE1-A3E6-48C3C3F9E321}" Win64="yes">
				<File Id="System.Memory.dll" Name="System.Memory.dll" KeyPath="yes" Source="$(var.OutputDir)System.Memory.dll"/>
			</Component>

			<Component Id="System.Numerics.Vectors.dll" Guid="{29ADAAA6-F70F-4DF6-B27B-0369E7C08F13}" Win64="yes">
				<File Id="System.Numerics.Vectors.dll" Name="System.Numerics.Vectors.dll" KeyPath="yes" Source="$(var.OutputDir)System.Numerics.Vectors.dll"/>
			</Component>

			<Component Id="System.Resources.Extensions.dll" Guid="{FDBCFCA3-3116-4922-96BE-A2C1E2D1E3ED}" Win64="yes">
				<File Id="System.Resources.Extensions.dll" Name="System.Resources.Extensions.dll" KeyPath="yes" Source="$(var.OutputDir)System.Resources.Extensions.dll"/>
			</Component>

			<Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="{DCDE54EE-0D1C-4E4E-B8CB-DB795DF6769A}" Win64="yes">
				<File Id="System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" Source="$(var.OutputDir)System.Runtime.CompilerServices.Unsafe.dll"/>
			</Component>
			
			<Component Id="System.Security.AccessControl.dll" Guid="{F26A0689-2FEE-4FA6-AC47-605D36773422}" Win64="yes">
				<File Id="System.Security.AccessControl.dll" Name="System.Security.AccessControl.dll" KeyPath="yes" Source="$(var.OutputDir)System.Security.AccessControl.dll"/>
			</Component>

			<Component Id="System.Security.Principal.Windows.dll" Guid="{5A63D32B-5780-488A-850E-84A52BD07E02}" Win64="yes">
				<File Id="System.Security.Principal.Windows.dll" Name="System.Security.Principal.Windows.dll" KeyPath="yes" Source="$(var.OutputDir)System.Security.Principal.Windows.dll"/>
			</Component>

			<Component Id="System.Text.Encodings.Web.dll" Guid="{FAE78B87-EA31-40F2-8EED-3AEFBB93AC41}" Win64="yes">
				<File Id="System.Text.Encodings.Web.dll" Name="System.Text.Encodings.Web.dll" KeyPath="yes" Source="$(var.OutputDir)System.Text.Encodings.Web.dll"/>
			</Component>

			<Component Id="System.Text.Json.dll" Guid="{D07ECE46-05DC-48CA-981D-C6CBCF5AD516}" Win64="yes">
				<File Id="System.Text.Json.dll" Name="System.Text.Json.dll" KeyPath="yes" Source="$(var.OutputDir)System.Text.Json.dll"/>
			</Component>

			<Component Id="System.Threading.Tasks.Extensions.dll" Guid="{02665556-1CA6-4999-99A5-957AC22DCF50}" Win64="yes">
				<File Id="System.Threading.Tasks.Extensions.dll" Name="System.Threading.Tasks.Extensions.dll" KeyPath="yes" Source="$(var.OutputDir)System.Threading.Tasks.Extensions.dll"/>
			</Component>

			<Component Id="System.ValueTuple.dll" Guid="{5DA71FB5-1A8B-415C-8ED0-BF4E8042D5E3}" Win64="yes">
				<File Id="System.ValueTuple.dll" Name="System.ValueTuple.dll" KeyPath="yes" Source="$(var.OutputDir)System.ValueTuple.dll"/>
			</Component>

			<Component Id="icudt59.x64" Guid="{F0CAECD1-8D7E-4D4F-9147-A4E8ED2B741B}" Win64="yes">
				<File Id="icudt59.x64" Name="icudt59.dll" KeyPath="yes" Source="$(var.NativeAssetsDir)icudt59.dll" />
			</Component>
			<Component Id="icuin59.x64" Guid="{F0CAECD1-8D7E-4D4F-9147-A4E8ED2B741C}" Win64="yes">
				<File Id="icuin59.x64" Name="icuin59.dll" KeyPath="yes" Source="$(var.NativeAssetsDir)icuin59.dll" />
			</Component>
			<Component Id="icuuc59.x64" Guid="{F0CAECD1-8D7E-4D4F-9147-A4E8ED2B741D}" Win64="yes">
				<File Id="icuuc59.x64" Name="icuuc59.dll" KeyPath="yes" Source="$(var.NativeAssetsDir)icuuc59.dll" />
			</Component>
			<Component Id="ikpFlac.x64" Guid="{F0CAECD1-8D7E-4D4F-9147-A4E8ED2B741E}" Win64="yes">
				<File Id="ikpFlac.x64" Name="ikpFlac.dll" KeyPath="yes" Source="$(var.NativeAssetsDir)ikpFlac.dll" />
			</Component>
			<Component Id="ikpMP3.x64" Guid="{F0CAECD1-8D7E-4D4F-9147-A4E8ED2B742A}" Win64="yes">
				<File Id="ikpMP3.x64" Name="ikpMP3.dll" KeyPath="yes" Source="$(var.NativeAssetsDir)ikpMP3.dll" />
			</Component>
			<Component Id="irrKlang.NET4.x64" Guid="{F0CAECD1-8D7E-4D4F-9147-A4E8ED2B742B}" Win64="yes">
				<File Id="irrKlang.NET4.x64" Name="irrKlang.NET4.dll" KeyPath="yes" Source="$(var.NativeAssetsDir)irrKlang.NET4.dll" />
			</Component>
		</Directory>
	  </Directory>
	</Directory>

	<Feature Id="ProductFeature" Level="1" Title="Basic Stuff">
		<ComponentRef Id="removeShortcutDir"/>
		<ComponentRef Id="SayMore.exe"/>
		<ComponentRef Id="SayMore.exe.config"/>
		<ComponentRef Id="SayMore.pdb"/>
		<ComponentRef Id="Autofac.dll"/>
		<ComponentRef Id="Coroutine.NET.dll"/>
		<ComponentRef Id="DesktopAnalytics.dll"/>
		<ComponentRef Id="DialogAdapters.dll"/>
		<ComponentRef Id="Enchant.Net.dll"/>
		<ComponentRef Id="ibusdotnet.dll"/>
		<ComponentRef Id="icu.net.dll"/>
		<ComponentRef Id="Instances.dll"/>
		<ComponentRef Id="L10NSharp.dll"/>
		<ComponentRef Id="Markdig.Signed.dll"/>
		<ComponentRef Id="MediaInfo.dll"/>
		<ComponentRef Id="MediaInfoDLL.dll"/>
		<ComponentRef Id="NetSparkle.Net40.dll"/>
		<ComponentRef Id="Microsoft.Bcl.AsyncInterfaces.dll"/>
		<ComponentRef Id="Microsoft.Extensions.DependencyModel.dll"/>
		<ComponentRef Id="NAudio.dll"/>
		<ComponentRef Id="NDesk.DBus.dll"/>
		<ComponentRef Id="Newtonsoft.Json.dll"/>  
		<ComponentRef Id="FFMpegCore.dll"/>
		<ComponentRef Id="Segment.Analytics.CSharp.dll"/>
		<ComponentRef Id="Serialization.NET.dll"/>
		<ComponentRef Id="Sovran.NET.dll"/>
		<ComponentRef Id="SIL.Archiving.dll"/>
		<ComponentRef Id="SIL.Windows.Forms.Archiving.dll"/>
		<ComponentRef Id="SIL.Core.Desktop.dll"/>
		<ComponentRef Id="SIL.Core.dll"/>
		<ComponentRef Id="SIL.Media.dll"/>
		<ComponentRef Id="SIL.Windows.Forms.dll"/>
		<ComponentRef Id="SIL.Windows.Forms.Keyboarding.dll"/>
		<ComponentRef Id="SIL.Windows.Forms.WritingSystems.dll"/>
		<ComponentRef Id="SIL.WritingSystems.dll"/>
		<ComponentRef Id="Spart.dll"/>
		<ComponentRef Id="System.Buffers.dll"/>
		<ComponentRef Id="System.Configuration.ConfigurationManager.dll"/>
		<ComponentRef Id="System.Drawing.Common.dll"/>
		<ComponentRef Id="System.IO.FileSystem.AccessControl.dll"/>
		<ComponentRef Id="System.IO.Pipelines.dll"/>
		<ComponentRef Id="System.Memory.dll"/>
		<ComponentRef Id="System.Numerics.Vectors.dll"/>
		<ComponentRef Id="System.Resources.Extensions.dll"/>
		<ComponentRef Id="System.Runtime.CompilerServices.Unsafe.dll"/>
		<ComponentRef Id="System.Security.AccessControl.dll"/>
		<ComponentRef Id="System.Security.Principal.Windows.dll"/>
		<ComponentRef Id="System.Text.Encodings.Web.dll"/>
		<ComponentRef Id="System.Text.Json.dll"/>
		<ComponentRef Id="System.Threading.Tasks.Extensions.dll"/>
		<ComponentRef Id="System.ValueTuple.dll"/>
		<ComponentRef Id="icudt59.x64"/>
		<ComponentRef Id="icuin59.x64"/>
		<ComponentRef Id="icuuc59.x64"/>
		<ComponentRef Id="ikpFlac.x64"/>
		<ComponentRef Id="ikpMP3.x64"/>
		<ComponentRef Id="irrKlang.NET4.x64"/>
		<ComponentRef Id="IMDILists"/>
		<ComponentGroupRef Id="DistFiles"/>
	</Feature>

	<Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
	<Icon Id="SayMore.exe" SourceFile="$(var.OutputDir)SayMore.exe" />
	<Property Id="ARPPRODUCTICON" Value="SayMore.exe" />
	<!-- what you see in add/remove programs control panel -->

	<CustomAction Id="LaunchSayMore"
				  FileKey="SayMore.exe"
				  ExeCommand=""
				  Return="asyncNoWait"/>

	<InstallExecuteSequence>
	  <!--We need the condition here so that we only launch the executable when we make an installation but not when we remove the product-->
		  <Custom Action='LaunchSayMore' After="InstallFinalize">NOT Installed</Custom>
	</InstallExecuteSequence>
  </Product>
</Wix>
