<?xml version="1.0" encoding="UTF-8"?>
<!-- These variables define the Windows Installer product version, product code and upgrade code. They   -->
<!-- will be used later on in this file.  this value should be B U I  LD_SCRIPT_MUST_REPLACE_AT_RUNTIME (in quotes) -->
<?define Property_ProductVersion = "BUILD_SCRIPT_MUST_REPLACE_AT_RUNTIME" ?>

<!-- * means auto-generate a new guid each time. This is "a unique identifier for the particular product release" -->
<?define Property_ProductCode = "*" ?>

<!--Don't even think of EVER changing this, despite the counter-intuitive name. What it is: "a shared identifier that represents multiple versions of an application" -->
<?define Property_UpgradeCode = "{CBCDEE93-B8EF-445e-98A9-B8CAF9502F0D}" ?>

<!-- good intro to the component vs. file thing, and why each file here is a separate component:
http://blogs.msdn.com/robmen/archive/2003/10/04/56479.aspx -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="$(var.Property_ProductCode)" Name="SayMore $(var.Property_ProductVersion)" Language="1033"
			 Version="$(var.Property_ProductVersion)" Manufacturer="SIL"
			 UpgradeCode="$(var.Property_UpgradeCode)">

	<Package  Compressed="yes" InstallerVersion="200" />

	  <MajorUpgrade   Schedule="afterInstallInitialize"
	  DowngradeErrorMessage="A later version of SayMore is already installed. If you really want to downgrade, first uninstall SayMore, then do this install again."/>

	<Upgrade Id="$(var.Property_UpgradeCode)" >
	  <UpgradeVersion Minimum="$(var.Property_ProductVersion)" OnlyDetect="yes" Property="NEWVERSIONDETECTED" />
	  <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.Property_ProductVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
	</Upgrade >

	<!-- show the license page -->
	<UIRef Id="WixUI_Minimal"/>
	<!-- Top banner / 493 × 58 -->
	<WixVariable Id='WixUIBannerBmp' Value='installerBanner.jpg' />
	<!-- Background bitmap used on the welcome and completion dialogs / 493 × 312 -->
	<WixVariable Id='WixUIDialogBmp' Value='installerBackground.jpg' />
	<WixVariable Id="WixUILicenseRtf" Value="..\..\distfiles\License.rtf" />

	<!--
	"from the list: Don't use Advertise="yes" Advertised shortcuts are designed to allow
users to install just the shortcut for your app, then demand-install the
rest of the app the first time the icon is run.  If this is not behavior you
are trying to support, you're better off using non-advertised shortcuts. "-->

	<PropertyRef Id="NETFRAMEWORK40CLIENT" />
	<PropertyRef Id="NETFRAMEWORK40FULL" />
	<Condition Message="Before SayMore can install, you need to install Microsoft's free .NET Framework 4.0 Client Profile.  A full discussion of SayMore's requirements can be found at SayMore.palaso.org.">
	  <![CDATA[Installed OR (NETFRAMEWORK40CLIENT OR NETFRAMEWORK40FULL)]]>
	</Condition>

	<!--because of bug, this needs to be 1 -->
	<Property Id="ALLUSERS">1</Property>

	<Directory Id="TARGETDIR" Name="SourceDir">

	  <Directory Id="CommonAppDataFolder">
		<Directory Id="SILCommonAppData" Name="SIL">
		  <!--<Directory Id="SayMoreCommonAppData" Name="SayMore">
			<Directory Id="SampleDataDir" Name="Samples">
			</Directory>
		  </Directory>-->

		  <Directory Id="SILArchivingAppData" Name="Archiving">
			<Directory Id="SILArchivingIMDIAppData" Name="IMDI">
			  <Component Id="IMDILists" Guid="{68906F32-3D8B-4E98-8527-7B2117CE5D89}">
				<File Id="ActorFamilySocialRole.xml" Name="Actor-FamilySocialRole.xml" KeyPath="yes" Source=".\imdi\Actor-FamilySocialRole.xml" />
				<File Id="ActorRole.xml" Name="Actor-Role.xml" Source=".\imdi\Actor-Role.xml" />
				<File Id="ActorSex.xml" Name="Actor-Sex.xml" Source=".\imdi\Actor-Sex.xml" />
				<File Id="Boolean.xml" Name="Boolean.xml" Source=".\imdi\Boolean.xml" />
				<File Id="ContentChannel.xml" Name="Content-Channel.xml" Source=".\imdi\Content-Channel.xml" />
				<File Id="ContentEventStructure.xml" Name="Content-EventStructure.xml" Source=".\imdi\Content-EventStructure.xml" />
				<File Id="ContentGenre.xml" Name="Content-Genre.xml" Source=".\imdi\Content-Genre.xml" />
				<File Id="ContentInteractivity" Name="Content-Interactivity.xml" Source=".\imdi\Content-Interactivity.xml" />
				<File Id="ContentInvolvement.xml" Name="Content-Involvement.xml" Source=".\imdi\Content-Involvement.xml" />
				<File Id="ContentModalities.xml" Name="Content-Modalities.xml" Source=".\imdi\Content-Modalities.xml" />
				<File Id="ContentPlanningType.xml" Name="Content-PlanningType.xml" Source=".\imdi\Content-PlanningType.xml" />
				<File Id="ContentSocialContext.xml" Name="Content-SocialContext.xml" Source=".\imdi\Content-SocialContext.xml" />
				<File Id="ContentSubGenre.xml" Name="Content-SubGenre.xml" Source=".\imdi\Content-SubGenre.xml" />
				<File Id="ContentSubGenreDiscourse.xml" Name="Content-SubGenre-Discourse.xml" Source=".\imdi\Content-SubGenre-Discourse.xml" />
				<File Id="ContentSubGenreDrama.xml" Name="Content-SubGenre-Drama.xml" Source=".\imdi\Content-SubGenre-Drama.xml" />
				<File Id="ContentSubGenreLiterature.xml" Name="Content-SubGenre-Literature.xml" Source=".\imdi\Content-SubGenre-Literature.xml" />
				<File Id="ContentSubGenrePoetry.xml" Name="Content-SubGenre-Poetry.xml" Source=".\imdi\Content-SubGenre-Poetry.xml" />
				<File Id="ContentSubGenreSinging.xml" Name="Content-SubGenre-Singing.xml" Source=".\imdi\Content-SubGenre-Singing.xml" />
				<File Id="ContentSubGenreStimuli.xml" Name="Content-SubGenre-Stimuli.xml" Source=".\imdi\Content-SubGenre-Stimuli.xml" />
				<File Id="ContentSubject.xml" Name="Content-Subject.xml" Source=".\imdi\Content-Subject.xml" />
				<File Id="ContentTask.xml" Name="Content-Task.xml" Source=".\imdi\Content-Task.xml" />
				<File Id="Continents.xml" Name="Continents.xml" Source=".\imdi\Continents.xml" />
				<File Id="Countries.xml" Name="Countries.xml" Source=".\imdi\Countries.xml" />
				<File Id="MediaFileFormat.xml" Name="MediaFile-Format.xml" Source=".\imdi\MediaFile-Format.xml" />
				<File Id="MediaFileType.xml" Name="MediaFile-Type.xml" Source=".\imdi\MediaFile-Type.xml" />
				<File Id="MPILanguages.xml" Name="MPI-Languages.xml" Source=".\imdi\MPI-Languages.xml" />
				<File Id="Quality.xml" Name="Quality.xml" Source=".\imdi\Quality.xml" />
				<File Id="ValidationMethodology.xml" Name="Validation-Methodology.xml" Source=".\imdi\Validation-Methodology.xml" />
				<File Id="ValidationType.xml" Name="Validation-Type.xml" Source=".\imdi\Validation-Type.xml" />
				<File Id="WrittenResourceDerivation.xml" Name="WrittenResource-Derivation.xml" Source=".\imdi\WrittenResource-Derivation.xml" />
				<File Id="WrittenResourceFormat.xml" Name="WrittenResource-Format.xml" Source=".\imdi\WrittenResource-Format.xml" />
				<File Id="WrittenResourceSubType.xml" Name="WrittenResource-SubType.xml" Source=".\imdi\WrittenResource-SubType.xml" />
				<File Id="WrittenResourceSubTypeAnnotation.xml" Name="WrittenResource-SubType-Annotation.xml" Source=".\imdi\WrittenResource-SubType-Annotation.xml" />
				<File Id="WrittenResourceSubTypeEthnography.xml" Name="WrittenResource-SubType-Ethnography.xml" Source=".\imdi\WrittenResource-SubType-Ethnography.xml" />
				<File Id="WrittenResourceSubTypeLexicalAnalysis.xml" Name="WrittenResource-SubType-LexicalAnalysis.xml" Source=".\imdi\WrittenResource-SubType-LexicalAnalysis.xml" />
				<File Id="WrittenResourceSubTypeOLACLS.xml" Name="WrittenResource-SubType-OLAC-LS.xml" Source=".\imdi\WrittenResource-SubType-OLAC-LS.xml" />
				<File Id="WrittenResourceSubTypePrimaryText.xml" Name="WrittenResource-SubType-PrimaryText.xml" Source=".\imdi\WrittenResource-SubType-PrimaryText.xml" />
				<File Id="WrittenResourceType.xml" Name="WrittenResource-Type.xml" Source=".\imdi\WrittenResource-Type.xml" />
			  </Component>
			</Directory>
		  </Directory>
		</Directory>
	  </Directory>

	  <Directory Id='ProgramMenuFolder' Name='Programs'>
		<Directory Id='SayMoreShortcutDir' Name='SayMore'>
		  <Component Id='removeShortcutDir' Guid="{88000306-EB15-4458-8264-97C1F888AD1F}">
			<RemoveFolder Id="shortcutDirRemover" On="uninstall"/>
			<RegistryKey Id="keyPathForRemoveShortcutDir" Action="createAndRemoveOnUninstall" Root="HKCU" Key="SOFTWARE\SayMore\Components\SayMoreShortcutDir">
			  <RegistryValue Type="string" Value=""  Action="write" KeyPath="yes"/>
			</RegistryKey>
		  </Component>

		</Directory>
	  </Directory>
	  <Directory Id="ProgramFilesFolder" Name="PFiles">

		<Directory Id="ProgramDir" Name="SayMore">

		  <Component Id="SayMore.exe" Guid="{73493982-C68A-4f01-93BC-5F92B380CF89}">
			<Registry Root="HKCU" Key="SOFTWARE\SayMore\Components\SayMore.exe" KeyPath="yes" />
			<File Id="SayMore.exe" Name="SayMore.exe"  Source="..\..\output\release\SayMore.exe" />
			<!--- todo: icons for saymore files -->

			<!--- connect file types to icons and program to launch -->

			<!--- todo:
					  any connections between file types and saymore
					<RemoveRegistryKey Action='removeOnUninstall' Root='HKCR' Key='.lift'/>
					<RemoveRegistryKey Action='removeOnUninstall' Root='HKCR' Key='SayMore.LIFTFile'/>
-->

			<!-- another way:                 <Registry Id='LuaReg8' Root='HKCR' Key='VisualStudio.luaproj.8.0\Shell\Open\Command' Action='write'
					 Type='string' Value='"[ENVPATH_2005]" "%1"'/> -->

			<Shortcut Id="startmenuShortcut"  Directory="SayMoreShortcutDir" Name="SayMore"
				 WorkingDirectory="ProgramDir" Target="[!SayMore.exe]"  Icon="SayMore.exe" />

			<ProgId Id="SayMore.sprjfile" Description="SayMore project file">
			  <Extension Id="sprj" ContentType="application/sprj">
				<Verb Id="open" Command="Open" TargetFile="SayMore.exe" Argument="&quot;%1&quot;" />
			  </Extension>
			</ProgId>
		  </Component>

		  <Component Id="SayMore.exe.config" Guid="{ED9F146C-E16F-4487-976B-7592203DB1B0}">
			<File Id="SayMore.exe.config" Name="SayMore.exe.config" KeyPath="no" Source="..\..\output\release\SayMore.exe.config" />
		  </Component>

		  <Component Id="SayMore.pdb" Guid="{B9DCC992-6EF4-4528-A10A-F0B9BF13FF34}">
			<File Id="SayMore.pdb" Name="SayMore.pdb" KeyPath="yes" Source="..\..\output\release\SayMore.pdb" />
		  </Component>

		  <Component Id="SIL.Core.dll" Guid="{12EDC44D-4D29-4719-A826-CA629E5DA42E}">
			<File Id="SIL.Core.dll" Name="SIL.Core.dll" KeyPath="yes" Source="..\..\output\release\SIL.Core.dll" />
		  </Component>

		  <Component Id="SIL.Core.pdb" Guid="{D70B068F-F087-4626-A1BD-2B5A1BFA528D}">
			<File Id="SIL.Core.pdb" Name="SIL.Core.pdb" KeyPath="yes" Source="..\..\output\release\SIL.Core.pdb" />
		  </Component>

		  <Component Id="SIL.Archiving.dll" Guid="{FC6955FD-A9BC-4317-8E82-402182F781F6}">
			<File Id="SIL.Archiving.dll" Name="SIL.Archiving.dll" KeyPath="yes" Source="..\..\output\release\SIL.Archiving.dll" />
		  </Component>

		  <Component Id="SIL.Archiving.pdb" Guid="{B3EF3C9C-622A-4484-9EDC-B71D12C954CE}">
			<File Id="SIL.Archiving.pdb" Name="SIL.Archiving.pdb" KeyPath="yes" Source="..\..\output\release\SIL.Archiving.pdb" />
		  </Component>

		  <Component Id="SIL.Windows.Forms.dll" Guid="{11BF5D98-4FD3-4F6B-B17B-083B7351BDD0}">
			<File Id="SIL.Windows.Forms.dll" Name="SIL.Windows.Forms.dll" KeyPath="yes" Source="..\..\output\release\SIL.Windows.Forms.dll" />
		  </Component>

		  <Component Id="SIL.Windows.Forms.pdb" Guid="{5BCCFC24-75AA-4F32-97D2-8F929D74F4EB}">
			<File Id="SIL.Windows.Forms.pdb" Name="SIL.Windows.Forms.pdb" KeyPath="yes" Source="..\..\output\release\SIL.Windows.Forms.pdb" />
		  </Component>

		  <Component Id="SIL.Windows.Forms.WritingSystems.dll" Guid="{BBAD7C1A-06BF-4306-8001-DAD0A8C4EF59}">
			<File Id="SIL.Windows.Forms.WritingSystems.dll" Name="SIL.Windows.Forms.WritingSystems.dll" KeyPath="yes" Source="..\..\output\release\SIL.Windows.Forms.WritingSystems.dll" />
		  </Component>

		  <Component Id="SIL.Windows.Forms.WritingSystems.pdb" Guid="{130158FD-7EDE-4B1F-BDEC-1D4FEF8AC714}">
			<File Id="SIL.Windows.Forms.WritingSystems.pdb" Name="SIL.Windows.Forms.WritingSystems.pdb" KeyPath="yes" Source="..\..\output\release\SIL.Windows.Forms.WritingSystems.pdb" />
		  </Component>

		  <Component Id="SIL.Media.dll" Guid="{24293684-98EC-4D21-A6D1-C87D3E928079}">
			<File Id="SIL.Media.dll" Name="SIL.Media.dll" KeyPath="yes" Source="..\..\output\release\SIL.Media.dll" />
		  </Component>

		  <Component Id="SIL.Media.pdb" Guid="{E2CDFE42-994B-428A-8C04-434D9D9B419A}">
			<File Id="SIL.Media.pdb" Name="SIL.Media.pdb" KeyPath="yes" Source="..\..\output\release\SIL.Media.pdb" />
		  </Component>

		  <Component Id="SIL.WritingSystems.dll" Guid="{F8F4F43F-D329-448A-9269-773F8E1E9519}">
			<File Id="SIL.WritingSystems.dll" Name="SIL.WritingSystems.dll" KeyPath="yes" Source="..\..\output\release\SIL.WritingSystems.dll" />
		  </Component>

		  <Component Id="SIL.WritingSystems.pdb" Guid="{D90D106F-6705-410A-83CC-617CFDB03F47}">
			<File Id="SIL.WritingSystems.pdb" Name="SIL.WritingSystems.pdb" KeyPath="yes" Source="..\..\output\release\SIL.WritingSystems.pdb" />
		  </Component>

		  <Component Id="DesktopAnalytics.dll" Guid="{05CAD372-4D95-48E9-8557-F9EAA9B1F729}">
			<File Id="DesktopAnalytics.dll" Name="DesktopAnalytics.dll" KeyPath="yes" Source="..\..\output\release\DesktopAnalytics.dll" />
		  </Component>

		  <Component Id="Analytics.NET.dll" Guid="{AAE1DDDF-4A33-4BC0-ACE9-F09B13A89CAE}">
			<File Id="Analytics.NET.dll" Name="Analytics.NET.dll" KeyPath="yes" Source="..\..\output\release\Analytics.NET.dll" />
		  </Component>

		  <Component Id="Newtonsoft.Json.dll" Guid="{F6A4D568-9E51-4FF0-9F5E-EEC1C15D6068}">
			<File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="..\..\output\release\Newtonsoft.Json.dll" />
		  </Component>

		  <Component Id="L10NSharp.dll" Guid="{112CE0A5-3B37-488E-95C0-21F5E9609211}">
			<File Id="L10NSharp.dll" Name="L10NSharp.dll" KeyPath="yes" Source="..\..\output\release\L10NSharp.dll" />
		  </Component>

		  <Component Id="L10NSharp.pdb" Guid="{B4D8681E-B2C8-4FD7-8832-DF717F74F9C4}">
			<File Id="L10NSharp.pdb" Name="L10NSharp.pdb" KeyPath="yes" Source="..\..\output\release\L10NSharp.pdb" />
		  </Component>

		  <Component Id="autofac.dll" Guid="{BB025B7C-B3CA-435e-9A4B-192373EE12DB}">
			<File Id="autofac.dll" Name="autofac.dll" KeyPath="yes" Source="..\..\output\release\autofac.dll" />
		  </Component>

		  <Component Id="NAudio.dll" Guid="{BB025B7C-B3CA-435e-9A4B-192373EE12AA}">
			<File Id="NAudio.dll" Name="NAudio.dll" KeyPath="yes" Source="..\..\output\release\NAudio.dll" />
		  </Component>

		  <Component Id="Ionic.Zip.dll" Guid="{7F9026D4-188B-4C67-87E9-777FEE4A3E16}">
			<File Id="Ionic.Zip.dll" Name="Ionic.Zip.dll" KeyPath="yes" Source="..\..\output\release\Ionic.Zip.dll" />
		  </Component>

		  <Component Id="MediaInfo.dll" Guid="B87CF78F-0226-4F5B-B7DC-C13899E934E5">
			<File Id="MediaInfo.dll" Name="MediaInfo.dll" KeyPath="yes" Source="..\..\lib\MediaInfo.dll" />
		  </Component>

		  <Component Id="icu.net.dll" Guid="{29D1CCBC-5212-47A0-AC02-01CE5F92CCBB}">
			<File Id="icu.net.dll" Name="icu.net.dll" KeyPath="yes" Source="..\..\output\release\icu.net.dll" />
		  </Component>

		  <Component Id="icudt56.dll" Guid="{90910874-9f21-435e-b077-a0fdf9595133}">
			<File Id="icudt56.dll" Name="icudt56.dll" KeyPath="yes" Source="..\..\output\release\icudt56.dll" />
		  </Component>

		  <Component Id="icuin56.dll" Guid="{9fe48270-f8e3-435c-af17-9d958eb8b085}">
			<File Id="icuin56.dll" Name="icuin56.dll" KeyPath="yes" Source="..\..\output\release\icuin56.dll" />
		  </Component>

		  <Component Id="icuuc56.dll" Guid="{cea27289-e508-4bb4-a380-466afb096f5c}">
			<File Id="icuuc56.dll" Name="icuuc56.dll" KeyPath="yes" Source="..\..\output\release\icuuc56.dll" />
		  </Component>

		  <Component Id="MarkdownDeep.dll" Guid="{ed7e13b3-7a16-4af9-8d5b-ea7f7cb9bf03}">
			<File Id="MarkdownDeep.dll" Name="MarkdownDeep.dll" KeyPath="yes" Source="..\..\output\release\MarkdownDeep.dll" />
		  </Component>
		</Directory>
	  </Directory>
	</Directory>

	<Feature Id="ProductFeature" Level="1" Title="Basic Stuff">
	  <ComponentRef Id="removeShortcutDir"/>
	  <ComponentRef Id="SayMore.exe" />
	  <ComponentRef Id="SayMore.exe.config"/>
	  <ComponentRef Id="SayMore.pdb"/>
	  <ComponentRef Id="SIL.Core.dll"/>
	  <ComponentRef Id="SIL.Core.pdb"/>
	  <ComponentRef Id="SIL.Archiving.dll"/>
	  <ComponentRef Id="SIL.Archiving.pdb"/>
	  <ComponentRef Id="SIL.Windows.Forms.dll"/>
	  <ComponentRef Id="SIL.Windows.Forms.pdb"/>
	  <ComponentRef Id="SIL.Media.dll"/>
	  <ComponentRef Id="SIL.Media.pdb"/>
	  <ComponentRef Id="SIL.WritingSystems.dll"/>
	  <ComponentRef Id="SIL.WritingSystems.pdb"/>
	  <ComponentRef Id="SIL.Windows.Forms.WritingSystems.dll"/>
	  <ComponentRef Id="SIL.Windows.Forms.WritingSystems.pdb"/>
	  <ComponentRef Id="DesktopAnalytics.dll"/>
	  <ComponentRef Id="Analytics.NET.dll"/>
	  <ComponentRef Id="Newtonsoft.Json.dll"/>
	  <ComponentRef Id="L10NSharp.dll"/>
	  <ComponentRef Id="L10NSharp.pdb"/>
	  <ComponentRef Id="autofac.dll"/>
	  <ComponentRef Id="NAudio.dll"/>
	  <ComponentRef Id="Ionic.Zip.dll"/>
	  <ComponentRef Id="MediaInfo.dll" />
	  <ComponentRef Id="IMDILists" />
	  <ComponentRef Id="icu.net.dll"/>
	  <ComponentRef Id="icudt56.dll"/>
	  <ComponentRef Id="icuin56.dll"/>
	  <ComponentRef Id="icuuc56.dll"/>
		<ComponentRef Id="MarkdownDeep.dll"/>
		<ComponentGroupRef Id="DistFiles"/>
	</Feature>

	<Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
	<Icon Id="SayMore.exe" SourceFile="..\..\output\release\SayMore.exe" />
	<Property Id="ARPPRODUCTICON" Value="SayMore.exe" />

	<!-- what you see in add/remove programs control panel -->



	<CustomAction Id="LaunchSayMore"
				  FileKey="SayMore.exe"
				  ExeCommand=""
				  Impersonate="no"
				  Return="asyncNoWait"/>

	<InstallExecuteSequence>
	  <!--We need the condition here so that we only launch the executable when we make an installation but not when we remove the product-->
		  <Custom Action='LaunchSayMore' After="InstallFinalize">NOT Installed</Custom>
	</InstallExecuteSequence>
  </Product>
</Wix>
