<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sponge2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sponge2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sponge2.Properties.Settings>
            <setting name="LocalizationDlgSplitterPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocalizationDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="MainWndBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="WelcomeDialogBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="SessionVwSplitterPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SessionFileCols" serializeAs="String">
                <value />
            </setting>
            <setting name="NewSessionsFromFilesDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="NewSessionsFromFilesDlgCols" serializeAs="String">
                <value />
            </setting>
            <setting name="NewSessionsFromFilesLastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
        </Sponge2.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Sponge2.Properties.Settings>
            <setting name="SafeNameReplacementChar" serializeAs="String">
                <value>_</value>
            </setting>
            <setting name="DataEntryPanelColorBegin" serializeAs="String">
                <value>207, 240, 159</value>
            </setting>
            <setting name="DataEntryPanelColorEnd" serializeAs="String">
                <value>169, 219, 168</value>
            </setting>
            <setting name="DataEntryPanelColorBorder" serializeAs="String">
                <value>148, 195, 151</value>
            </setting>
            <setting name="BarColorBegin" serializeAs="String">
                <value>196, 209, 227</value>
            </setting>
            <setting name="BarColorEnd" serializeAs="String">
                <value>124, 153, 193</value>
            </setting>
            <setting name="BarColorBorder" serializeAs="String">
                <value>83, 110, 145</value>
            </setting>
            <setting name="GapBetweenMultimediaObjects" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultHeightOfVideoControl" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DefaultHeightOfAudioControl" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="DefaultHeightOfImageControl" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="AudioFileExtensions" serializeAs="String">
                <value>.mp3, .wav, .wma, .acc, .ogg</value>
            </setting>
            <setting name="VideoFileExtensions" serializeAs="String">
                <value>.wmv, .avi, .mpg, .mpeg, .mpa, .asf, .mov</value>
            </setting>
            <setting name="ImageFileExtensions" serializeAs="String">
                <value>.jpg, .jpeg, .gif, .tif, .png, .bmp, .dib</value>
            </setting>
            <setting name="RedrawAsMainWndResizes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SilWebSite" serializeAs="String">
                <value>www.sil.org</value>
            </setting>
            <setting name="ProgramsWebSite" serializeAs="String">
                <value>www.spongetheband.com</value>
            </setting>
        </Sponge2.Properties.Settings>
    </applicationSettings>
</configuration>