<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Patch 
	AllowRemoval="yes" 
	Manufacturer="$(var.Manufacturer)" 
    DisplayName="$(var.AppName) patch $(var.VersionNumber)" 
	Description="Small Update Patch" 
	Classification="Update"
	MinorUpdateTargetRTM="yes" >
	
	<PatchProperty Name='FileVersion' Value='$(var.VersionNumber)' />
 
    <Media Id='5000' Cabinet='AppTemplate.cab'>
      <PatchBaseline Id='$(var.PatchBaseline)'>
	    <Validate ProductId="yes" UpgradeCode="yes" ProductVersion="Update" ProductVersionOperator="Equal" /> 
	  </PatchBaseline>
    </Media>
 
    <PatchFamily 
		Id='$(var.PatchFamily)' 
		ProductCode='$(var.ProductCode)' 
		Version='$(var.VersionNumber)'
		Supersede='no' >
	</PatchFamily>
  </Patch>
</Wix>
