* {
	margin: 0;
	border: 0;
	padding: 0;
}

body
{
	font-family: 'Segoe UI', 'Tahoma', 'Arial', 'Helvetica', sans-serif;
	font-size: 10pt;
	line-height: 1.3;
	background-color:white;
}

table
{
	border-spacing: 0;
	width:100%;
}

th
{
	line-height:1.7;
	font-weight:bold;
	font-size:12pt;
	color:white;
	background-color:rgb(83,110,145);
	text-align:left;
	text-indent: 10px;
}

.avhdr { border-top: 15px solid white}

td { vertical-align: top; }

h3, h4, .fieldname {
    padding: 0 15px 0 10px;
}

.fieldName
{
	white-space:nowrap;
}