<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SayMore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SayMore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SayMore.Properties.Settings>
            <setting name="NewSessionsFromFilesLastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PersonScreenElementListSpiltterPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PersonScreenComponentsSplitterPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SessionScreenElementsListSplitterPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SessionScreenComponentsSplitterPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastFolderForComponentFileAdd" serializeAs="String">
                <value />
            </setting>
            <setting name="MediaPlayerVolume" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FirstTimeRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFolderForNewProjects" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowStatisticsChartLabelsToWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnnotationEditorPlaybackSpeedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnnotationEditorVideoWindowYtoXRatio" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="AnnotationEditorSpiltterPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TranscriptionWsForFWInterlinearExport" serializeAs="String">
                <value />
            </setting>
            <setting name="FreeTranslationWsForFWInterlinearExport" serializeAs="String">
                <value />
            </setting>
            <setting name="UserInterfaceLanguage" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="LocalizationDlgSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="ZoomPercentageInAnnotationRecordingDlg" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ZoomPercentageInManualSegmenterDlg" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DefaultSegmentationMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TranscriptionPlaybackType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TranslationPlaybackType" serializeAs="String">
                <value>4</value>
            </setting>
        </SayMore.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SayMore.Properties.Settings>
            <setting name="SafeNameReplacementChar" serializeAs="String">
                <value>_</value>
            </setting>
            <setting name="DataEntryPanelColorBegin" serializeAs="String">
                <value>207, 240, 159</value>
            </setting>
            <setting name="DataEntryPanelColorEnd" serializeAs="String">
                <value>169, 219, 168</value>
            </setting>
            <setting name="DataEntryPanelColorBorder" serializeAs="String">
                <value>148, 195, 151</value>
            </setting>
            <setting name="BarColorBegin" serializeAs="String">
                <value>196, 209, 227</value>
            </setting>
            <setting name="BarColorEnd" serializeAs="String">
                <value>124, 153, 193</value>
            </setting>
            <setting name="BarColorBorder" serializeAs="String">
                <value>83, 110, 145</value>
            </setting>
            <setting name="GapBetweenMultimediaObjects" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultHeightOfVideoControl" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DefaultHeightOfAudioControl" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="DefaultHeightOfImageControl" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="AudioFileExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.mp3</string>
                        <string>.wav</string>
                        <string>.wma</string>
                        <string>.acc</string>
                        <string>.ogg</string>
                        <string>.flac</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="VideoFileExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.wmv</string>
                        <string>.avi</string>
                        <string>.mpg</string>
                        <string>.mpeg</string>
                        <string>.mpa</string>
                        <string>.asf</string>
                        <string>.mov</string>
                        <string>.mp4</string>
                        <string>.mts</string>
                        <string>.m4v</string>
                        <string>.m2v</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ImageFileExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.jpg</string>
                        <string>.jpeg</string>
                        <string>.gif</string>
                        <string>.tif</string>
                        <string>.png</string>
                        <string>.bmp</string>
                        <string>.dib</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RedrawAsMainWndResizes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SilWebSite" serializeAs="String">
                <value>www.sil.org</value>
            </setting>
            <setting name="ProgramsWebSite" serializeAs="String">
                <value>http://saymore.palaso.org/</value>
            </setting>
            <setting name="PauseMediaPlayerWhenTabLoosesFocus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageViewerClickImageZoomPercentages" serializeAs="String">
                <value>25, 50, 75,100, 125, 150, 175, 200, 225, 250, 275, 300</value>
            </setting>
            <setting name="ComponentFileEndingsNotAllowed" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.event</string>
                        <string>.person</string>
                        <string>.meta</string>
                        <string>thumbs.db</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MetadataFileExtension" serializeAs="String">
                <value>.meta</value>
            </setting>
            <setting name="SessionFileExtension" serializeAs="String">
                <value>.session</value>
            </setting>
            <setting name="PersonFileExtension" serializeAs="String">
                <value>.person</value>
            </setting>
            <setting name="ProjectFileExtension" serializeAs="String">
                <value>.sprj</value>
            </setting>
            <setting name="AutoPlayMediaPlayerWhenSelectingMediaFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SessionEditorsBackgroundColor" serializeAs="String">
                <value>207, 240, 159</value>
            </setting>
            <setting name="SessionEditorsBorderColor" serializeAs="String">
                <value>148, 195, 151</value>
            </setting>
            <setting name="SessionEditorsButtonBackgroundColor1" serializeAs="String">
                <value>207, 240, 159</value>
            </setting>
            <setting name="SessionEditorsButtonBackgroundColor2" serializeAs="String">
                <value>169, 219, 168</value>
            </setting>
            <setting name="PersonEditorsBackgroundColor" serializeAs="String">
                <value>199, 207, 219</value>
            </setting>
            <setting name="PersonEditorsBorderColor" serializeAs="String">
                <value>112, 146, 190</value>
            </setting>
            <setting name="PersonEditorsButtonBackgroundColor1" serializeAs="String">
                <value>199, 207, 219</value>
            </setting>
            <setting name="PersonEditorsButtonBackgroundColor2" serializeAs="String">
                <value>156, 180, 210</value>
            </setting>
            <setting name="WorkflowStageTextColor6" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WorkflowStageTextColor4" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WorkflowStageTextColor5" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WorkflowStageTextColor2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WorkflowStageTextColor3" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WorkflowStageTextColor1" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WorkflowStageColor1" serializeAs="String">
                <value>196, 209, 227</value>
            </setting>
            <setting name="WorkflowStageColor2" serializeAs="String">
                <value>101, 104, 100</value>
            </setting>
            <setting name="WorkflowStageColor3" serializeAs="String">
                <value>207, 240, 159</value>
            </setting>
            <setting name="WorkflowStageColor4" serializeAs="String">
                <value>83, 110, 145</value>
            </setting>
            <setting name="WorkflowStageColor5" serializeAs="String">
                <value>252, 235, 132</value>
            </setting>
            <setting name="IncompleteStageColor" serializeAs="String">
                <value>Ivory</value>
            </setting>
            <setting name="IncomingStatusColor" serializeAs="String">
                <value>252, 235, 132</value>
            </setting>
            <setting name="In_ProgressStatusColor" serializeAs="String">
                <value>124, 153, 193</value>
            </setting>
            <setting name="FinishedStatusColor" serializeAs="String">
                <value>169, 219, 168</value>
            </setting>
            <setting name="WorkflowStageColor6" serializeAs="String">
                <value>148, 195, 151</value>
            </setting>
            <setting name="MissingDataWindowColor" serializeAs="String">
                <value>252, 235, 132</value>
            </setting>
            <setting name="FileTypesToAvoidLoadingInBrowserEditor" serializeAs="String">
                <value>.doc;.odt;.ppt;.xls</value>
            </setting>
            <setting name="RampWebSite" serializeAs="String">
                <value>https://www.help.insitehome.org/reap/manual/ramp-users-manual</value>
            </setting>
            <setting name="RampContributorRoles" serializeAs="String">
                <value>author;compiler;consultant;developer;editor;facilitator;illustrator;interviewer;photographer;recorder;researcher;signer;speaker;transcriber;translator</value>
            </setting>
            <setting name="TextFileExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.txt</string>
                        <string>.doc</string>
                        <string>.docx</string>
                        <string>.odt</string>
                        <string>.rtf</string>
                        <string>.htm</string>
                        <string>.html</string>
                        <string>.pdf</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AnnotationFileExtension" serializeAs="String">
                <value>.eaf</value>
            </setting>
            <setting name="OralAnnotationGeneratedFileSuffix" serializeAs="String">
                <value>.oralAnnotations.wav</value>
            </setting>
            <setting name="OralAnnotationsFolderSuffix" serializeAs="String">
                <value>_Annotations</value>
            </setting>
            <setting name="OralAnnotationCarefulSegmentFileSuffix" serializeAs="String">
                <value>_Careful.wav</value>
            </setting>
            <setting name="OralAnnotationTranslationSegmentFileSuffix" serializeAs="String">
                <value>_Translation.wav</value>
            </setting>
            <setting name="MillisecondsToAdvanceSegmentBoundaryOnRightArrow"
                serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MillisecondsToBackupSegmentBoundaryOnLeftArrow"
                serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MillisecondsToRePlayAfterAdjustingSegmentBoundary"
                serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MillisecondsToDelayPlaybackAfterAdjustingSegmentBoundary"
                serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MinimumAnnotationSegmentLengthInMilliseconds"
                serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="StandardAudioFileSuffix" serializeAs="String">
                <value>_StandardAudio.wav</value>
            </setting>
            <setting name="SegmentingWaveViewPixelsPerSecond" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="PreventSegmentBoundaryMovingWhereTextAnnotationsAreAdjacent"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimumSegmentLengthInMilliseconds" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="DefaultAutoSegmenterMaximumSegmentLengthInMilliseconds"
                serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="DefaultAutoSegmenterPreferrerdPauseLengthInMilliseconds"
                serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="DefaultAutoSegmenterOptimumLengthClampingFactor"
                serializeAs="String">
                <value>4E-06</value>
            </setting>
            <setting name="DefaultAutoSegmenterMinimumSegmentLengthInMilliseconds"
                serializeAs="String">
                <value>1000</value>
            </setting>
        </SayMore.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
