<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Analytics" version="3.8.1" targetFramework="net462" />
  <package id="AtkSharp-signed" version="3.22.24.37" targetFramework="net462" />
  <package id="Autofac" version="5.2.0" targetFramework="net462" />
  <package id="CairoSharp-signed" version="3.22.24.37" targetFramework="net462" />
  <package id="Coroutine.NET" version="1.4.0" targetFramework="net462" />
  <package id="DialogAdapters.Gtk2" version="0.1.11" targetFramework="net462" />
  <package id="Enchant.Net" version="1.4.2" targetFramework="net462" />
  <package id="FFMpegCore" version="5.1.0" targetFramework="net462" />
  <package id="GdkSharp-signed" version="3.22.24.37" targetFramework="net462" />
  <package id="GioSharp-signed" version="3.22.24.37" targetFramework="net462" />
  <package id="GLibSharp-signed" version="3.22.24.37" targetFramework="net462" />
  <package id="GtkSharp-signed" version="3.22.24.37" targetFramework="net462" />
  <package id="ibusdotnet" version="2.0.3" targetFramework="net462" />
  <package id="icu.net" version="3.0.0" targetFramework="net462" />
  <package id="Icu4c.Win.Min" version="59.1.7" targetFramework="net462" />
  <package id="Instances" version="3.0.1" targetFramework="net462" />
  <package id="L10NSharp" version="7.0.0" targetFramework="net462" />
  <package id="Markdig.Signed" version="0.37.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.1" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyModel" version="6.0.0" targetFramework="net462" />
  <package id="mixpanel-csharp" version="6.0.0" targetFramework="net462" />
  <package id="Mono.Posix" version="5.4.0.201" targetFramework="net462" />
  <package id="Mono.Unix" version="7.1.0-final.1.21458.1" targetFramework="net462" />
  <package id="NAudio" version="1.10.0" targetFramework="net462" />
  <package id="NDesk.DBus" version="0.15.0" targetFramework="net462" />
  <package id="NetSparkle.Net40" version="1.2.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="PangoSharp-signed" version="3.22.24.37" targetFramework="net462" />
  <package id="Segment.Analytics.CSharp" version="2.4.2" targetFramework="net462" />
  <package id="Serialization.NET" version="1.4.1" targetFramework="net462" />
  <package id="SIL.Archiving" version="15.0.0" targetFramework="net462" />
  <package id="SIL.BuildTasks" version="3.0.0" targetFramework="net462" />
  <package id="SIL.Core" version="15.0.0" targetFramework="net462" />
  <package id="SIL.Core.Desktop" version="15.0.0" targetFramework="net462" />
  <package id="SIL.DesktopAnalytics" version="6.0.2" targetFramework="net462" />
  <package id="SIL.Media" version="15.0.0" targetFramework="net462" />
  <package id="SIL.ReleaseTasks" version="3.0.0" targetFramework="net462" />
  <package id="SIL.Windows.Forms" version="15.0.0" targetFramework="net462" />
  <package id="SIL.Windows.Forms.Archiving" version="15.0.0" targetFramework="net462" />
  <package id="SIL.Windows.Forms.Keyboarding" version="15.0.0" targetFramework="net462" />
  <package id="SIL.Windows.Forms.WritingSystems" version="15.0.0" targetFramework="net462" />
  <package id="SIL.WritingSystems" version="15.0.0" targetFramework="net462" />
  <package id="Sovran.NET" version="1.4.0" targetFramework="net462" />
  <package id="Spart" version="1.0.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net462" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net462" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net462" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net462" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net462" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net462" />
  <package id="System.IO.Pipelines" version="9.0.1" targetFramework="net462" />
  <package id="System.Memory" version="4.6.0" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net462" />
  <package id="System.Resources.Extensions" version="6.0.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="9.0.1" targetFramework="net462" />
  <package id="System.Text.Json" version="9.0.1" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="TagLibSharp" version="2.3.0" targetFramework="net462" />
</packages>